<!DOCTYPE html>
<html>

    <head>
        <title>Fiches de sécurité</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="./CSS/style.css"/>
        <script type="text/javascript" src="./ajax/adapter.min.js"></script>
        <script type="text/javascript" src="./ajax/vue.min.js"></script>
        <script type="text/javascript" src="./instascan.min.js"></script>
        <script type="text/javascript" src="./ajax/howler.min.js"></script>
    </head>

    <body>

        <header class="page_header">
            <div class="logo_utt">
                <img src="./Images/logo-utt.png" alt="[Logo UTT]"/>
            </div>

            <div class="titre_page">
                <h1>Fiches de sécurité</h1>
            </div>
        </header>

        <main class="scan_qr">
          <div id="app">
            <div class="scan">
              <section class="cameras">
                <h2>Caméras</h2>
                <ul>
                  <li v-if="cameras.length === 0" class="empty">Aucune caméra détectée</li>
                  <li v-for="camera in cameras">
                    <span v-if="camera.id == activeCameraId" :title="formatName(camera.name)" class="active">{{ formatName(camera.name) }}</span>
                    <span v-if="camera.id != activeCameraId" :title="formatName(camera.name)">
                      <a @click.stop="selectCamera(camera)">{{ formatName(camera.name) }}</a>
                    </span>
                  </li>
                </ul>
              </section>
              <section class="scans">
                <h2>Scans</h2>
                <ul v-if="scans.length === 0">
                  <li class="empty">Passez le QR code devant la caméra : </li>
                </ul>
                <transition-group name="scans" tag="ul">
                    <li v-for="scan in countedScans" :key=scan.content>{{ scan.count }} - <a :href=scan.content>{{ scan.content }}</a></li>
                </transition-group>
              </section>
            </div>
            <div class="preview-container">
              <video id="preview"></video>
            </div>
          </div>
          <script type="text/javascript" src="app.js"></script>
        </main>


    </body>
</html>
